<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scorpio.powerguard.mapper.EmailSenderPoolMapper">

    <resultMap id="EmailSenderPoolResultMap" type="com.scorpio.powerguard.entity.EmailSenderPool">
        <id property="id" column="id"/>
        <result property="emailAccount" column="email_account"/>
        <result property="authCode" column="auth_code"/>
        <result property="status" column="status"/>
    </resultMap>

    <select id="selectEnabledSenders" resultMap="EmailSenderPoolResultMap">
        SELECT id, email_account, auth_code, status
        FROM email_sender_pool
        WHERE status = 1
        ORDER BY id ASC
    </select>
</mapper>
